In [47]:
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

sys.path.append('/home/master/Documentos/git/irt-py/')
import tri

import importlib
importlib.reload(tri)

In [48]:
f_microdados='./ITENS_PROVA_2023.csv'
dfGeral=pd.read_csv(f_microdados,encoding='latin1',sep=';', decimal='.')

#matemática

In [49]:

dfMT=dfGeral[(dfGeral['IN_ITEM_ABAN']==0)&(dfGeral['SG_AREA']=='MT')&(dfGeral['TX_COR']=='AZUL')].drop(['IN_ITEM_ABAN', 'TX_MOTIVO_ABAN','TP_LINGUA','IN_ITEM_ADAPTADO'], axis=1)
#dfMT=dfGeral[(dfGeral['IN_ITEM_ABAN']==0)&(dfGeral['SG_AREA']=='MT')&(dfGeral['TX_COR']=='AZUL')&(dfGeral['CO_PROVA']==1211)].drop(['IN_ITEM_ABAN', 'TX_MOTIVO_ABAN','TP_LINGUA','IN_ITEM_ADAPTADO'], axis=1)
dfMT.head()

,CO_POSICAO,SG_AREA,CO_ITEM,TX_GABARITO,CO_HABILIDADE,NU_PARAM_A,NU_PARAM_B,NU_PARAM_C,TX_COR,CO_PROVA
950,136,MT,48324,B,8,2.09451,2.44818,0.25838,AZUL,1211
951,180,MT,125969,C,30,1.78452,0.74313,0.18879,AZUL,1211
952,179,MT,14366,C,1,1.52531,0.63295,0.18496,AZUL,1211
953,178,MT,111754,B,15,2.95569,2.84307,0.24511,AZUL,1211
954,177,MT,14389,A,15,0.96035,1.52433,0.14823,AZUL,1211

In [50]:
dfMT.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133 entries, 950 to 4364
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO_POSICAO     133 non-null    int64
 1   SG_AREA        133 non-null    object
 2   CO_ITEM        133 non-null    int64
 3   TX_GABARITO    133 non-null    object
 4   CO_HABILIDADE  133 non-null    int64
 5   NU_PARAM_A     133 non-null    float64
 6   NU_PARAM_B     133 non-null    float64
 7   NU_PARAM_C     133 non-null    float64
 8   TX_COR         133 non-null    object
 9   CO_PROVA       133 non-null    int64
dtypes: float64(3), int64(4), object(3)
memory usage: 11.4+ KB

In [51]:
examParameters=dfMT[['NU_PARAM_A','NU_PARAM_B','NU_PARAM_C']].copy()
examParameters.reset_index(drop=True, inplace=True)
examParameters['c']=examParameters['NU_PARAM_C']
examParameters['a']=examParameters['NU_PARAM_A']
examParameters['b']=examParameters['NU_PARAM_B']

In [52]:
#examParameters

In [76]:
media=507
desvio=104.42

student_min=tri.Student(responses=[0]*len(dfMT),parameters=examParameters)

print('min=', media+desvio*student_min.calculate_ability(method='EAP',scale_prior=1.0))

student_max=tri.Student(responses=[1]*len(dfMT),parameters=examParameters)

print('max=', media+desvio*(student_max.calculate_ability(method='EAP',scale_prior=1.0) ))

min= 319.222569541335
max= 958.5260135484203

#Ciências naturais

In [54]:

#dfCN=dfGeral[(dfGeral['IN_ITEM_ABAN']==0)&(dfGeral['SG_AREA']=='CN')&(dfGeral['TX_COR']=='AZUL')].drop(['IN_ITEM_ABAN', 'TX_MOTIVO_ABAN','TP_LINGUA','IN_ITEM_ADAPTADO'], axis=1)
dfCN=dfGeral[(dfGeral['IN_ITEM_ABAN']==0)&(dfGeral['SG_AREA']=='CN')&(dfGeral['TX_COR']=='AZUL')&(dfGeral['CO_PROVA']==1221)].drop(['IN_ITEM_ABAN', 'TX_MOTIVO_ABAN','TP_LINGUA','IN_ITEM_ADAPTADO'], axis=1)
dfCN.head()

,CO_POSICAO,SG_AREA,CO_ITEM,TX_GABARITO,CO_HABILIDADE,NU_PARAM_A,NU_PARAM_B,NU_PARAM_C,TX_COR,CO_PROVA
1400,91,CN,84422,D,4,1.25458,0.14732,0.00556,AZUL,1221
1401,135,CN,26042,D,19,3.98650,1.63479,0.19026,AZUL,1221
1402,134,CN,85436,E,29,1.56816,1.75342,0.18632,AZUL,1221
1403,133,CN,43890,E,27,3.63689,1.43988,0.18360,AZUL,1221
1404,132,CN,83558,E,21,1.52403,0.95966,0.15221,AZUL,1221

In [55]:
examParametersCN=dfCN[['NU_PARAM_A','NU_PARAM_B','NU_PARAM_C']].copy()
examParametersCN.reset_index(drop=True, inplace=True)
examParametersCN['c']=examParametersCN['NU_PARAM_C']
examParametersCN['a']=examParametersCN['NU_PARAM_A']
examParametersCN['b']=examParametersCN['NU_PARAM_B']

In [78]:
media=500
desvio=100

student_min=tri.Student(responses=[0]*len(dfCN),parameters=examParameters)

print('min=', media+desvio*student_min.calculate_ability(method='EAP',scale_prior=1.0))

student_max=tri.Student(responses=[1]*len(dfCN),parameters=examParameters)

print('max=', media+desvio*student_max.calculate_ability(method='EAP',scale_prior=1.0))

min= 366.93825095684304
max= 865.6638288796064